@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color-one: #05445e;
    --main-color-two: #02fced;
}

.text-wrapper div {
    animation: shining 5s linear infinite;
}
.text-wrapper h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.7em;
    pointer-events: none;
}
@keyframes shining {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: #195c78;
        box-shadow: none;
    }
    18.1%,20.1%,30.1%,50%,60.1%,65%,80.1%,90.1%,92.1%,100% {
        color: #ffffff;
        box-shadow: none;
    }
}

section h3 {
    -webkit-text-stroke: 0.7px var(--main-color-two);
}

.img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175%;
    height: 140%;
    background: radial-gradient(#075f83, #05445e);
    animation: bubble 5s ease-in-out infinite;
    transition: all 1sn ease-in-out;
    z-index: -1;
}

@media only screen and (max-width:1024px) {
    .img-wrapper::after {
        content: "";
        width: 155%;
        height: 120%;
    }
}

@keyframes bubble {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    75% {
        border-radius: 50% 35% 40% 50% / 70% 55% 45% 25%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.mobile-menu {
    background: linear-gradient(90deg, rgba(5,68,94,1) 60%, rgba(5,68,94,0.80) 100%);
    left: -100%;
    transition: .2s linear;
}

.mobile-menu.active {
    left: 0;
}